<launch>
	<arg name="group_ns" value="asctec" />
	<arg name="linear" value="true" />
	<arg name="sim" value="false"/>

	<include file="$(find vicon_bridge)/launch/vicon.launch" unless="$(arg sim)"/>

	<group ns="$(arg group_ns)">
		<include file="$(find asctec_launch)/basic_launch/min_jerk.launch">
				<arg name="viz" value="true" />
        <arg name="group_ns" value="$(arg group_ns)" /> 
        <arg name="linear" value="$(arg linear)" /> 
        <arg name="sim" value="$(arg sim)" /> 
    </include>

		<node pkg="asctec_launch"
			type="hover_node"
			name="hover"
			output="screen">
		</node>

	</group>
</launch>
