<launch>
		<node pkg="asctec_lin"
		  type="asctec_lin_node"
		  name="asctec_lin_control"
		  required="true"
		  output="screen">
		  <param name="mass" value="0.55"/>
		  <rosparam param="gains/pos">[1, 1, 4]</rosparam>			<!-- 6 -->
		  <rosparam param="gains/vel">[0.75, 0.75, 3.95]</rosparam>   <!-- 4.95 -->
		  <rosparam param="gains/int">[0.005, 0.005, 0.005]</rosparam> <!-- 0.05 -->
			<rosparam param="gains/kiyaw">0.0</rosparam>
			<rosparam param="gains/kyaw">0.5</rosparam>
		</node>
</launch>
