<launch>
	<arg name="group_ns" default="asctec" />
	<arg name="asctec_model" default="hb" />
	<arg name="port" default="/dev/ttyUSB0" />
	<arg name="frame" default="/vicon/hummingbird_1/hummingbird_1" />
	<arg name="world" default="/odom" />
	<arg name="rviz" default="basic.rviz"/>
	<arg name="viz" default="true"/>
	<arg name="mesh" default="package://mesh_visualization/meshes/hummingbird.mesh"/>
	<arg name="linear" default="false"/>
	<arg name="continuous" default="true"/>
	<arg name="sim" default="false"/>

	<include file="$(find asctec_launch)/basic_launch/$(arg asctec_model)_nonlinear.launch" unless="$(arg linear)"/>
	<include file="$(find asctec_launch)/basic_launch/$(arg asctec_model)_linear.launch" if="$(arg linear)"/>

	<node name="rviz" pkg="rviz" type="rviz" if="$(arg viz)" args="-d $(find asctec_viz)/rviz/$(arg rviz)" />

	<node pkg="asctec_viz"
		type="asctec_viz_node"
		name="asctec_viz"
		output="screen">
	</node>

	<node pkg="trajectory_gen"
	  type="min_jerk_node"
	  name="min_jerk"
	  required="true"
	  output="screen">
	  <param name="rate" value="15"/>
	  <param name="continuous" value="$(arg continuous)"/>
	</node>

	<node pkg="asctec_ll_updated" name="asctec_ll" type="asctec_ll_updated_node" output="screen" unless="$(arg sim)">
	   <param name="port" value="$(arg port)"/>
	   <param name="ll_status_rate" value="1"/>
	   <param name="imu_calc_data_rate" value="0"/>
	   <param name="rc_data_rate" value="0"/>
	   <param name="ctrl_out_rate" value="10"/>
	   <param name="gps_data_advanced_rate" value="0"/>
	</node>

	<node pkg="asctec_launch"
		type="dummy_odom_node"
		name="dummy_odom"
		required="true"
		output="screen" 
		if="$(arg sim)">
		<param name="rate" value="40"/>
		<param name="frame" value="$(arg frame)"/>
		<param name="world" value="$(arg world)"/>
		<param name="track" value="true"/>
	</node>

	<node pkg="asctec_launch"
		type="asctec_vicon_node"
		name="asctec_vicon"
		required="true"
		output="screen">
		<param name="frame" value="$(arg frame)"/>
		<param name="world" value="$(arg world)"/>
	</node>

</launch>
