<launch>
	<arg name="group_ns" value="asctec" />
	<arg name="sim" value="true"/>

	<include file="$(find vicon_bridge)/launch/vicon.launch" unless="$(arg sim)"/>

	<group ns="$(arg group_ns)">
		<include file="$(find asctec_launch)/basic_launch/min_snap.launch">
        <arg name="group_ns" value="$(arg group_ns)" /> 
        <arg name="sim" value="$(arg sim)" /> 
    </include>

		<node pkg="asctec_launch"
			type="nl_track_node"
			name="nl_track"
			output="screen">
		</node>

	</group>
</launch>
