<launch>
  <node pkg="asctec_ll_updated"
        name="asctec"
        type="asctec_ll_updated_node"
        output="screen">
    <param name="port" value="/dev/ttyUSB0"/>
    <param name="ll_status_rate" value="1"/>
    <param name="imu_calc_data_rate" value="0"/>
    <param name="rc_data_rate" value="0"/>
    <param name="ctrl_out_rate" value="5"/>
    <param name="gps_data_advanced_rate" value="0"/>
  </node>
</launch>
