<launch>
	<arg name="group_ns" value="asctec2" />
	<arg name="asctec_model" value="pe" />
	<arg name="linear" value="true" />
	<arg name="port" value="/dev/ttyS3"/>
	<arg name="frame" default="/vicon/pelican_gr/pelican_gr" />
	<arg name="sim" value="false" />

	<group ns="$(arg group_ns)">
		<include file="$(find asctec_launch)/basic_launch/min_jerk.launch">
			<arg name="group_ns" value="$(arg group_ns)" /> 
			<arg name="asctec_model" value="$(arg asctec_model)" />
			<arg name="continuous" value="false" />
			<arg name="viz" value="false"/>
			<arg name="frame" value="$(arg frame)" />
			<arg name="linear" value="$(arg linear)" />
			<arg name="port" value="$(arg port)" />
			<arg name="sim" value="$(arg sim)" /> 
			</include>
	</group>

</launch>
